@font-face{
    font-family: FSNorthLand;
    src: url('../fonts/FS\ North\ Land.otf');
}
@font-face{
    font-family: Andes;
    src: url('../fonts/AndesRoundedLight.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FSNorthLand;
}

body {
    height: 100vh;
    overflow: hidden;
    background: url("../pics/sys/background.jpg") no-repeat center;
    background-color: rgba(12, 94, 156, 0.15);
    background-size: cover;
    background-blend-mode: screen;
    position: relative;
}

@mixin center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.avatar {
    width: 70%;
    height: 350px;
    background-color: black;
    position: absolute;
    z-index: 1;
    top: -20%;
    left: 15%;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    box-shadow: -7px 7px 15px rgba(63, 0, 0, 0.25);
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover>.slogan{
        top: 0;
        left: 0;
        opacity: 1;
        transform: scale(1);
        border-radius: 5px;
    }
    &>.slogan{
        width: 100%;
        height: inherit;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        transition: all 0.5s;
        top: 100%;
        left: 0;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        border-radius: 20px;
        transform: scale(0);
        color: rgb(71, 71, 71);
        font-size: 2rem;
    }
}

.box {
    width: 700px;
    height: 350px;
    background-color: white;
    @include center-absolute();
    display: flex;
    border-radius: 7px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    & > div {
        width: 50%;
        height: 100%;
        position: relative;
    }
    &-half-left {
        display: flex;
        align-items: flex-end;
        & > .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;
            & > a {
                display: inline-block;
                text-align: center;
                height: 45px;
                color: rgb(29, 128, 194);
                text-decoration: none;
                transition: transform 0.2s;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }

    &-half-right{
        overflow: hidden;
        user-select: none;
        &>.about-me{
            margin-top: 20px;
            &>h1{
                font-size: 3.75rem;
                font-weight: 500;
                color: rgb(44, 56, 66);
                position: relative;
                display: inline-block;
                &::after{
                    position: absolute;
                    content: '';
                    width: 105%;
                    height: 8px;
                    background-color: rgb(125, 255, 175);
                    bottom: 21px;
                    left: -5px;
                    z-index: -1;
                }
            }
            &>p{
                padding-top: 10px;
                font-size: 1.75rem;
                font-weight: 100;
                color: rgb(65, 88, 109);
            }
        }
        &>.info{
            padding: 10px 20px 20px 0;
            display: flex;
            &>ul{
                width: 50%;
                &>li{
                    list-style: none;
                    font-size: 1.1rem;
                    margin-top: 20px;
                    padding-top: 2px;
                    font-family: Andes;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: transform 0.2s, opacity 0.2s;
                    &>i{
                        display: inline-block;
                        width: 40px;
                        font-size: 1.4rem;
                        text-align: center;
                        color: rgb(52, 52, 53);
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

.color-{
    &orangered{
        color: orangered!important;
    }
}

.tooltip{
    position: absolute;
    background-color: white;
    padding: 7px 10px 5px 10px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 3px;
    font-family: Andes;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-size: 0.9rem;
    color: rgb(53, 53, 53);
    display: none;
}

.small-screen{
    display: none;
    padding: 15px;
    min-width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    @include center-absolute();
    text-align: center;
    font-size: 1.7rem;
    &>h1{
        font-weight: 300;
    }
}

@media screen and (max-width: 710px), (max-height: 500px){
    .box{
        display: none;
    }
    .small-screen{
        display: inline-block;
    }
}